@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-color: #e4e4e7;
	--text-error: #f87171;
	--main-green: #16a34a;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #101010;
	user-select: none;
	color: var(--text-color);
}

.text-color {
	color: var(--text-color);
}

.text-error {
	color: var(--text-error);
}

.text-main-green {
	color: var(--main-green);
}

.bg-main-green {
	background-color: var(--main-green);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: #555; 
}
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}